/*----------GLOBAL VARIABLES---------*/
:root {
    --red: #ff000f;
    --section-background: #F4FAFFFF;
    --tobe-blue: #04005E;
    --tobe-pink: #ff2079;
    --baeda-blue: #2E4F97;
    --baeda-orange: #F47806;
    --baeda-light-blue: #D9EBF6;
    --toc-image: url("../img/baeda-abb.jpg");
}

/*----------GOOGLE FONTS---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

/*----------BODY---------*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h1.title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 16px;
    margin-top: 8px;
    background-color: var(--baeda-orange)
}


h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: var(--baeda-blue);
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: var(--baeda-blue);
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: var(--baeda-blue);
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: var(--baeda-blue);
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: var(--baeda-blue);
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: var(--baeda-blue);
}

/*----------------- links ---------------------*/

a {
    color: var(--baeda-orange);
}

a:hover {
    color: var(--baeda-orange); /* darker color when hovering */
}

/*------------Table of Contents (TOC)----------- */

.tocify {
    border: none;   /*Removes border */
    border-radius: 0px; /* Gets rid of rounded corners on TOC */
    font-size: 16px;
    font-weight: bold;
    color: var(--baeda-blue);
}

/* Active TOC links*/
.list-group-item.active,
.list-group-item.active:hover{
    color: var(--baeda-blue);
    background-color: var(--baeda-light-blue);
    border-color: var(--section-background);
}

/* Hovered TOC links*/

.list-group-item:hover {
    color: var(--baeda-blue);
    background-color: var(--baeda-light-blue);
    border: none;
}
/*----------LOGO above TOC---------*/

#TOC::before {
    content: "";
    display: block;
    height: 100px;
    background-image: var(--toc-image);
    margin-bottom: 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


.sectionbox {
    background: var(--section-background);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

/*----------LOGO above TOC---------*/
footer {
    text-align: center;
    padding: 3px;
}